<!DOCTYPE html>
<html {{ helmet.htmlAttributes.toString() }}>
<head>
    {{ helmet.title.toString() }}
    {{ helmet.meta.toString() }}
    {{ helmet.link.toString() }}

    <!-- stylesheets -->
    {% for url in styles %}
        <link rel="stylesheet" type="text/css" href="{{ url }}" />
    {% endfor %}
</head>
<body {{ helmet.bodyAttributes.toString() }}>

    <div id="root">{{ html }}</div>

    <script type="text/javascript">
        window.__INITIAL_STATE__ = {{ safeJson(initialState) }}
    </script>

    <!-- javascripts -->
    {% for url in scripts %}
        <script type="text/javascript" src="{{ url }}"></script>
    {% endfor %}
</body>
</html>
